.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.9); /* Initial transparent-ish bg */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.4s ease-in-out;
}

/* Background gets more solid on scroll */
.navbar.scrolled {
    background-color: #6c63ff; /* Cool color on scroll */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Slightly deeper shadow on scroll */
}


.navbar-nav{
    align-items: end;
}

.navbar-collapse{
    justify-content: end;
}

.nav-link{
    color: rgb(85, 85, 85)
}


#profile-img {
    border-radius: 50%;
    
        max-width: 50%;
    
  }

.surname{
    color: rgb(85, 85, 85)
}

.animation {
    color: rgb(129, 80, 175);
    font-size: 30px;
}

.icon{

    width: 48px;
    height: 48px;
}

#icon-grid{
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    border-radius: 2rem;
}

#certification-grid{
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    border-radius: 3rem;
}

.big-title{
    font-family: cursive;
}

#about-me-text {
    font-family: cursive;
}